@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

[data-mode="dark"] {
  color-scheme: dark;
}

body {
  @apply bg-soft-sand-50 text-slate-800 transition-colors duration-300 ease-out;
}

[data-mode="dark"] body {
  @apply bg-slate-900 text-slate-100;
}

[data-mode="sepia"] body {
  @apply bg-soft-sand-100 text-slate-800;
}

.family-edge {
  stroke: url(#edge-gradient);
  stroke-width: 2.2px;
  fill: none;
  opacity: 0.8;
}

.rd3t-link {
  stroke: url(#edge-gradient);
}
